sudo: false

language: scala

scala:
  - 2.13.1
  - 2.12.10

jdk:
  - openjdk11

script: sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success: sbt ++$TRAVIS_SCALA_VERSION coverageReport coverageAggregate coveralls

notifications:
  slack:
    on_success: never
    on_failure: always
    rooms:
      secure: "XU5UvthsvF9U8who7hnimg5mA8xtsxmOgxgAcaIVe0QJix4t+K4VY2hOTSpLL7VAw4d1w0WuM+3CLKfjQg12oNS6egLFk9zHWuBjSZzwc2cjARbVu4Q+IgosGD11Vr7/uxUW77LIjs4TcOAYM2Fi5t4DrsZGlLVd13viF/svDtbNB2SNAYf7TA5Lvu2Y8eyhcnvBrN9nPd8cufFJwaZxOnqSCPhaCNHZ9n4YHigEGmYZZAE+1C8FEsXWA5PQIYlnMeJmXgQySZ1FVqN/217PIaptnfGSD2mKwcN78b5547Uv2RqDerUPqJ6EjBmalfesftXGbhQDzYowapGhe9yL5SDTQh82WEYjDR3lJPgvaaj/UhFBHMgOrGST5m8ZtiGHzxGEUn4FO4+E4wIuZmXbKfE+FEZ5VKK7kftDOsHTqYo8tnBuHE/ZQJ6mim755ZkOG87LXlExBCJCn9x8lWESnH+eMOdpDerptN1UJEN2CsFHjqOPcOEKzSvWfP9e4aVGmb0iVDI4nXZFbRNyOllX2/25J9VlDkhs7npQ7W3DpqvmHYi/t92IVESGyAKV1JAzS4EXwqRi02kyEIDd2/JhVmjRo0X4g91ZMGquMNwsLVW/WkQDJEJtTkCerrFZyzqzzrQdwpyLyHLo0dETxBkEkj7qDlHjUDQIwkYAWQjEFtA="

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete